<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Demo Pro</title>
</head>
<body>
<h1>Our tasks</h1>

{% for i in p %}
<h4><a href="{% url 'detail' i.id %}">{{i.name}}</a></h4>
{% endfor %}
<div>
    {% if p.has_previous %}
    <a href="?page={{p.number|add:'-1'}}">Evvelki</a>
    {% endif %}
    {% if p.number > 1 %}
    <a href="?page={{p.number|add:'-1'}}">{{p.number|add:"-1"}}</a>
    {% endif %}
    <a href="?page={{p.number}}">{{p.number}}</a>
    {% if p.has_next %}
    <a href="?page={{p.number|add:'1'}}">{{p.number|add:"1"}}</a>
    <a href="?page={{p.number|add:'1'}}">Sonraki</a>
    {% endif %}
</div>
</body>
</html>
